
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden; 
}

header {
  position: fixed;
  background-color: transparent; 
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
}

.logo img {
  width: 150px;
  margin-right: 20px; 
}

nav ul {
  list-style-type: none;
  margin-left: 20px;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.topnav a:hover {
  color: rgb(148, 168, 218);
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 6ch; 
}

.search-bar input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 10px;
  width: 200px;
  background-color: rgb(207, 197, 197);
}

.search-bar .search-btn {
  margin-right: 5ch;
  padding: 4.5px;
  margin-left: -4ch;
  background-color: rgb(207, 197, 197);
  border: none;
  cursor: pointer;
}

.search-bar .profile-btn {
  margin-left: -2ch;
  padding: 8px;
  border-radius: 3ch;
  border: none;
  background-color: rgb(207, 197, 197);
  cursor: pointer;
}


.scroll {
  padding: 0%;
  margin: 0%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}


.home {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/backgroundphoto.jpeg);
  color: white;
  text-align: center;
  padding: 50px 20px;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textbox {
  background: rgba(0, 0, 0, 0.7); 
  padding: 50px;
  border-radius: 30px;
  max-width: 400px;
  margin-left: 60px;
  height: 500px;
}

.textbox h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.textbox p {
  font-size: 1.2em;
  margin-bottom: 50px;
}


.button {
  border-radius: 10px;
  background-color: transparent;
  border-color: white;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.form-popup {
  display: none;
  position: fixed;
  bottom: 10ch;
  right: 15ch;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  padding: 30px;
  max-width: 40vw;
  height: 70vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 23vw;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  padding: 2ch;
}


.form-container label {
  color: black; 
  align-self: flex-start; 
  padding: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  padding: 0.4ch;
  border: none;
  cursor: pointer;
}

.close i {
  color: black;
  font-size: 1.5em;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 2ch;
  border: none;
  cursor: pointer;
  width: 30%; 
  opacity: 0.8;
  margin: 10px; 
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* Slideshow container */
.menu {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menumain {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/backgroundphoto.jpeg);
  padding-top: 3vh;
}

.tophead {
  height: 12vh;
  width: 100%;
  background-color: rgb(4, 4, 36);
}

.contentbox {
  width: 80vw;
  height: 78vh;
  background-color: black;
  margin: 10ch auto;
  border-radius: 4ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 24px;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
}

p {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin: 0;
  padding: 1ch;
}

.img {
  display: flex;
  justify-content: space-between;
  padding: 2ch;
  margin-top: 4ch;
  gap: 14ch;
}

.img img {
  border-radius: 10px;
  width: 200px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
}



.img button {
  background: none;
  border: 2px solid white;
  width: 10ch;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: 20px 0 0 50px;
}

.menu .prev,
.menu .next {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.menu .prev {
  left: 2ch;
}

.menu .next {
  right: 2ch;
  border-radius: 3px 0 0 3px;
}

.menu .prev:hover,
.menu .next:hover {
  background-color: #090909cc;
}

.menu:hover .prev,
.menu:hover .next {
  display: block;
}

.responsive {
  background-color: black;
  margin-left: 7ch;
  margin-top: 3ch;
  height: 68vh;
  width: 88vw;
  padding-left: 4ch;
  padding-top: 3ch;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  
  
}

.responsive img {
  margin: 1ch;
  border-radius: 6px;
  width: 15vw;
  height: 45vh;
}


.order {
  height: 100vh;
  width: 100vw;
  background-image: url(assets/backgroundphoto.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.order .paragraph {
  max-width: 30vw;
  margin: 15ch   10ch 0;
  height: 75vh;
  border-radius: 4ch;

}

.order .paragraph h2 {
  font-size: 28px;
  margin-bottom: -4ch;
}

.order .paragraph p {
  font-size: 18px;
  margin-top: 15ch;
}

.form-container-new {
  max-width: 350px;
  height: 420px;
  margin: -60ch 0 0 85ch;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.form-container-new label {
  margin-bottom: 10px;
  display: block;
}
.form-container-new input[type=text], .form-container input[type=number], .form-container input[type=address] {
  width: 100%;
  padding: 12px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #45a049;
}

.about-us {
  text-align: center;
  padding: 10px;
  background-image: url(assets/backgroundphoto.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.aboutsec{
  width: 80vw;
  height: 70vh;
  background-color: rgb(17, 16, 16);
  margin:12ch 0 0 15ch ;
  border-radius: 4ch;
}

.about {
  background:none;
  height: 70vh;
  width: 25vw;
  margin: 12ch 3ch 0 6ch;
  padding: 4ch;
}

.about-us h2 {
  margin-top: 12px;
}

.about-us p {
  max-width: 500px;
  margin-top: 60px;
}

.members{
  background:none;
  height: 70vh;
  width: 55vw;
  margin: -63ch 0 0 50ch;
  padding: 2ch;
}

.members p{
  font-size: 24px;
  margin-left: 7ch;
}

.team {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 6ch;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-member img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.team-member.head-chef img {
  width: 170px;
  height: 170px;
}
.member-name {
  margin-top: 8ch;
  font-weight: bold;
  color: white;
}



footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}





